<div class="idx-brand-bg">
<div class="idx-brand">
    <section> <i>Recommended amazing places just for you</i>      
        <h5>The World is waiting for you!</h5>
        <p>
            <a target="_blank" href="http://www.lotour.com/zhuanti/pinpai/">MORE&gt;&gt;</a>
        </p>
    </section>
    
    <ul class="clearfix">
    <li class=" ">
        <div class="item" style="bottom: -28px;">
        	<a href="http://shannan.lotour.com/" target="_blank" title="唯有山南可称藏源" onclick="return FocusCount('banner','banner01');"><img src="http://img4.lotour.net/home/2016/0325/2016032514131071520503.jpg" alt="唯有山南可称藏源" width="285" height="245"></a>
            <div class="nr">
                <h5><a href="http://shannan.lotour.com/" target="_blank" title="唯有山南可称藏源" onclick="return FocusCount('banner','banner01');">唯有山南可称藏源</a></h5>
                <p><a href="http://shannan.lotour.com/" target="_blank" title="西藏山南" onclick="return FocusCount('banner','md01');">西藏山南</a><i regionid="271" method="region">679万</i></p>	
            </div>
        </div>
    </li>
    <li class=" ">
        <div class="item" style="bottom: -28px;">
        	<a href="http://usa.lotour.com/xiaweiyizhou/" target="_blank" title="夏威夷 太平洋上的热带天堂" onclick="return FocusCount('banner','banner02');"><img src="http://img4.lotour.net/home/2015/0917/2015091717251700990130.jpg" alt="夏威夷 太平洋上的热带天堂" width="285" height="245"></a>
            <div class="nr">
                <h5><a href="http://usa.lotour.com/xiaweiyizhou/" target="_blank" title="夏威夷 太平洋上的热带天堂" onclick="return FocusCount('banner','banner02');">夏威夷 太平洋上的热带天堂</a></h5>
                <p><a href="http://usa.lotour.com/xiaweiyizhou/" target="_blank" title="夏威夷" onclick="return FocusCount('banner','md02');">夏威夷</a><i regionid="821" method="region">177万</i></p>	
            </div>
        </div>
    </li>
    <li class=" ">
        <div class="item" style="bottom: -28px;">
        	<a href="http://huangshan.lotour.com/hongcun/" target="_blank" title="粉墙黛瓦 水墨画里的村庄" onclick="return FocusCount('banner','banner03');"><img src="http://img4.lotour.net/home/2015/0923/2015092318503908285455.jpg" alt="粉墙黛瓦 水墨画里的村庄" width="285" height="245"></a>
            <div class="nr">
                <h5><a href="http://huangshan.lotour.com/hongcun/" target="_blank" title="粉墙黛瓦 水墨画里的村庄" onclick="return FocusCount('banner','banner03');">粉墙黛瓦 水墨画里的村庄</a></h5>
                <p><a href="http://huangshan.lotour.com/hongcun/" target="_blank" title="宏村" onclick="return FocusCount('banner','md03');">宏村</a><i regionid="33875" method="region">157万</i></p>	
            </div>
        </div>
    </li>
    <li class="  nort ">
        <div class="item" style="bottom: -28px;">
        	<a href="http://xiamen.lotour.com/gulangyu/" target="_blank" title="海上花园 万国建筑博览" onclick="return FocusCount('banner','banner04');"><img src="http://img4.lotour.net/home/2015/0923/2015092319391331672384.jpg" alt="海上花园 万国建筑博览" width="285" height="245"></a>
            <div class="nr">
                <h5><a href="http://xiamen.lotour.com/gulangyu/" target="_blank" title="海上花园 万国建筑博览" onclick="return FocusCount('banner','banner04');">海上花园 万国建筑博览</a></h5>
                <p><a href="http://xiamen.lotour.com/gulangyu/" target="_blank" title="鼓浪屿" onclick="return FocusCount('banner','md04');">鼓浪屿</a><i regionid="1126" method="region">517万</i></p>	
            </div>
        </div>
    </li>
    <li class=" ">
        <div class="item" style="bottom: -28px;">
        	<a href="http://tha.lotour.com/qingmai/" target="_blank" title="鲜花和美女 专属清迈的小清新" onclick="return FocusCount('banner','banner05');"><img src="http://img4.lotour.net/home/2015/0923/2015092318305705724437.jpg" alt="鲜花和美女 专属清迈的小清新" width="285" height="245"></a>
            <div class="nr">
                <h5><a href="http://tha.lotour.com/qingmai/" target="_blank" title="鲜花和美女 专属清迈的小清新" onclick="return FocusCount('banner','banner05');">鲜花和美女 专属清迈的小清新</a></h5>
                <p><a href="http://tha.lotour.com/qingmai/" target="_blank" title="清迈" onclick="return FocusCount('banner','md05');">清迈</a><i regionid="322" method="region">298万</i></p>	
            </div>
        </div>
    </li>
    <li class=" ">
        <div class="item" style="bottom: -28px;">
        	<a href="http://chongqing.lotour.com/" target="_blank" title="在重庆乘坐轻轨游山城也是旅行" onclick="return FocusCount('banner','banner06');"><img src="http://img4.lotour.net/home/2015/1023/2015102314354464974884.jpg" alt="在重庆乘坐轻轨游山城也是旅行" width="285" height="245"></a>
            <div class="nr">
                <h5><a href="http://chongqing.lotour.com/" target="_blank" title="在重庆乘坐轻轨游山城也是旅行" onclick="return FocusCount('banner','banner06');">在重庆乘坐轻轨游山城也是旅行</a></h5>
                <p><a href="http://chongqing.lotour.com/" target="_blank" title="重庆" onclick="return FocusCount('banner','md06');">重庆</a><i regionid="1026" method="region">2296万</i></p>	
            </div>
        </div>
    </li>
    <li class=" ">
        <div class="item" style="bottom: -28px;">
        	<a href="http://isl.lotour.com/" target="_blank" title="全世界最纯净的地热温泉" onclick="return FocusCount('banner','banner07');"><img src="http://img4.lotour.net/home/2015/0710/20150710155812735197.jpg" alt="全世界最纯净的地热温泉" width="285" height="245"></a>
            <div class="nr">
                <h5><a href="http://isl.lotour.com/" target="_blank" title="全世界最纯净的地热温泉" onclick="return FocusCount('banner','banner07');">全世界最纯净的地热温泉</a></h5>
                <p><a href="http://isl.lotour.com/" target="_blank" title="冰岛" onclick="return FocusCount('banner','md07');">冰岛</a><i regionid="532" method="region">220万</i></p>	
            </div>
        </div>
    </li>
    <li class="nort moreli">
        <div class="more">
            <p><a target="_blank" href="http://www.lotour.com/zhuanti/pinpai/" onclick="return FocusCount('banner','banner08');"><i>more<br>Place of Inspiration
            </i>More&gt;&gt;</a></p>
        </div>
    </li>
</ul> 
</div>
</div>