<div class="idx-inspire" style="height: 14.7rem;">
	<ul style="top: 0px;">
		    	<li style="height: 307px; background-image: url(&quot;http://img2.lotour.net/home/2016/0415/2016041515244109275538.jpg&quot;);"><h5>有一种泰国，不“泰”一样，你能猜到吗？</h5><p>泰式美食 黄袍佛国 晨光的布施 水上市场</p><a href="http://www.lotour.com/zhengwen/1/lg-jc-10255.shtml" target="_blank" onclick="return FocusCount('large','01');">去看看</a><div class="bg"></div></li>
    	    	<li style="height: 307px; background-image: url(&quot;http://img2.lotour.net/home/2016/0415/2016041515394327426180.jpg&quot;);"><h5>是我太单纯，这里的山只接受下半身思考！</h5><p>丹霞山 阳元石 阴元石 自然奇观</p><a href="http://www.lotour.com/zhengwen/1/lg-jc-10008.shtml" target="_blank" onclick="return FocusCount('large','02');">去看看</a><div class="bg"></div></li>
    	    	<li style="height: 307px; background-image: url(&quot;http://img2.lotour.net/home/2016/0415/2016041515272767189126.jpg&quot;);"><h5>在台湾有个猴硐 这里喵星人说了算！</h5><p>猴硐猫街 和喵星人一起晒太阳发呆</p><a href="http://www.lotour.com/zhengwen/1/lg-jc-8607.shtml" target="_blank" onclick="return FocusCount('large','03');">去看看</a><div class="bg"></div></li>
    		</ul>
    <div class="pt" style="top: 103.5px; position: absolute;">
		    	<a href="http://www.lotour.com/zhengwen/1/lg-jc-10255.shtml" onclick="return FocusCount('large','01');" target="_blank" class="on"></a>
			    	<a href="http://www.lotour.com/zhengwen/1/lg-jc-10008.shtml" onclick="return FocusCount('large','02');" target="_blank" class=""></a>
			    	<a href="http://www.lotour.com/zhengwen/1/lg-jc-8607.shtml" onclick="return FocusCount('large','03');" target="_blank" class=""></a>
			    </div>
</div>